body{
    margin: 0;
    padding: 0;
    
   
}

.all{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.container{
    width: 800px;
    height: 650px;
    border: 10px solid gray;
    margin-right:  3cm;
}
.container2{
    background-color: white;
    padding: 5px;
}
header{
    font-size: 2.5rem;
    padding: 22px;
    background-color: #DDAA00;
    text-align: center;
    color: #FFFFFF;
}
.nav-bar{
    display: flex;
    background-color: #e1e1e1fe;
    justify-content: space-between;
    padding: 10px;
    

}
.navbox{
    border: 1px solid black;
    padding: 5px;
    color: #DDAA00;
    padding: 5px 25px 5px 25px;
}
.content-box{
    /* width: 100%; */
    height: 430px;
    background-color:#808080;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.content-box1{
    width: 25%;
    height: 95%;
    background-color: #FFFFFF;
    padding: 8px;
}
.content-box3{
    width: 50%;
    height: 95%;
    background-color: #FFFFFF;
    padding: 8px;
}


img{
    width: 100%;
    height: 30%;
}
#img3{
    height: 250px;
    width: 100%;
}

.foot{
    padding: 15px;
    background-color: #DDAA00;
    text-align: center;
    color: #FFFFFF;
}

/* Practice layout - 1 */
.parent-container {
    height: 410px;
    width: 430px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
}

.box-row1{
    display: flex;
    gap: 10px;
}
.large-box{
    width: 150px;
    height: 200px;
    background-color: #FF6348;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.box2{
    width: 230px;
    height: 200px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.smallbox{
    background-color: #FF6348;
    height: 47%;
    width: 47%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.box-row2{
    display: flex;
    gap: 10px;
}

/* Layout - 3 */
.layout-3{
    width: 600px;
    height: 650px;
    /* text-align: center; */
    margin: 1.5cm;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
}
.borderbox{
    width: 100%;
    height:90%;
    padding: 20px;
    border: 1px solid black;
    display: flex;
    box-sizing: border-box;


}
.box-a{
    width: 150px;
    height: 97%;
    background-color: #B5E7E7;
    padding: 10px;
}
.box-b{
    width: 150px;
    height: 97%;
    background-color: #F7F3DA;
    padding: 10px;
}
.box-c{
    width: 200px;
    height: 97%;
    background-color: #8CB98C;
    padding: 10px;
}
/* .flex-example{
    height: 600px;
    width: 500px;
} */

/* layout-4 */

.yellow-box{
    height: 400px;
    width: 500px;
    background-color: #C4EBFA;
    /* margin-left: 4cm; */
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.layout4{
    width: 400px;
    height: 400px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.picture_1{
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    color: white;
    
}
.picture_1a{
    width: 210px;
    height: 200px;
    background-color: #FCD24A;
    border-radius: 2px;
}
.picture_2-3{
    width: 190px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    /* border: 1px solid black; */
    color: white;
}
.picture_2{
    width: 180px;
    height: 100px;
    background-color: #FCD24A;
    border-radius: 2px;
}
.picture_3{
    width: 180px;
    height: 90px;
    background-color: #FCD24A;
    border-radius: 2px;
}
.picture_4-5{
   width: 100%;
   height: 23%;
   display: flex;
   justify-content: space-between; 
   color: white;
}
.picture_4{
    width: 32%;
    height: 100%;
    background-color: #FCD24A;
}
.picture_5{
    width: 65%;
    height: 100%;
    background-color: #FCD24A;
}
.picture_6-8-9{
    width: 100%;
    height: 23%;
    display: flex;
    justify-content: space-between; 
    color: white;
 }
 
 .picture_8{
     width: 32%;
     height: 97%;
     background-color: #FCD24A;
 }
 .picture7{
    height: 400px;
    width: 90px;
    background-color: #FCD24A;
    color: white;
 }

 /* Layout-5 */

 .layout5{
    height: 400px;
    width: 800px;
    background-color: #f2f2f2;
    margin-top: 0.5cm;
    
 }
.complex-box{
    width: 100%;
    height: 60px;
    background-color: #800080;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: white;
}
.article-box{
    width: 98%;
    height: 82%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.first-article{
    width: 26%;
    height: 97%;
    background-color: #00FFFF;
    padding: 5px;
}
.third-article{
    width: 42%;
    height: 94%;
    background-color: #00FFFF;
    padding: 20px 5px 0 5px;
}
.article-items{
    width: 42%;
    height: 30px;
    display: flex;
    gap: 20px;
    
    

}
.smile{
    background-color: #EFEFEF;
    padding: 2px 14px ;
    margin-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0.323);
}
.blush{
    width: 100%;
    background-color: #EFEFEF;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.323);
}